
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>CreateProduct</h1>

<form action="ReceiveData" method="post">

    <input type="text" name="name" value="" placeholder="Enter a name" />
    <button>Send</button>
</form>