@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @* <h5>@ViewBag.result</h5>
    <br/>
    <h5>@ViewBag.result2</h5> *@

    <environment names="Development">

        <h1>i am development</h1>

    </environment>
    <environment names="production">

        <h1>i am production</h1>

    </environment>


</div>
