@model Product
@{
    ViewData["Title"] = "ProductUpdate";
}

<form asp-action="ProductUpdate" method="post" >
    <input type="hidden" asp-for="Id" />
    <input type="text" asp-for="Name" placeholder="NAME"/><br/>
    <input type="number" asp-for="Quantity" placeholder="QUANTITY"/><br/>
    <button class="btn btn-primary">Update</button>
</form>

